.promo {
  padding-top: 20px;
  background: url(../img/promoimg.png) center right no-repeat;
}
.promo__title {
  font-size: 56px;
  line-height: 80px;
  max-width: 500px;
  margin-bottom: 25px;
  font-weight: bold;
}
.promo__text {
  font-size: 25px;
  color: $blue;
}